@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  font-family: 'Poppins';
  
}

header{
    width: 95%;
    margin: 0 auto;
    
}
.blackHeart {
    width: 25px;
    margin-right: 1rem;
  }

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

nav{
    width: 600px;
    font-weight: 600;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

#npm-logo {
    width: 70px;
    margin-left: 1.5rem;

}

#glass-logo {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.5rem;
}

nav a {
    text-decoration: none;
    color: black;
  }

  input::placeholder {
    font-family: 'Poppins';
  }


.form-div {

    
   
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0.4rem 1.5rem 0.4rem 0.4rem ;
    
}


.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    background-color: rgba(161, 158, 158, 0.2);
    padding-left: 0.5rem;

}


.search-bar form {
    display: flex;
    flex-direction: row;
    width: 100%;
   
}



form input
 {
    border: none;
    background-color: inherit;
    width: 100%;
    

}

form button {
    
    padding: 0.8rem;
    background-color: red;
    color: white;
    border: none;
  
    align-items: center;
}
div a {
    text-decoration: none;
    color: black;
}

#join-link {
    border:solid black 1px;
    border-radius: 2px;
    padding:0.2rem 1rem ;
}

#main-section {
    display: flex;
    width: 95%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: rgba(232,217,217,.3);

}

#main-section h1 {
    font-size: 3.8rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
#main-section p {
    font-size: 1rem;
    font-weight: 450 ;
    width: 30%;
    text-align: center;
    margin-bottom: 3rem;
}
.buttons-div {
    display: flex;
    width: 30%;
    justify-content: space-between;
    font-weight: 600 ;
}
.plans-button {
    
    background-color: #FB3B49 ;
    color: white;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    padding: 0.6rem 3.5rem;
    

}

.join-button {
    padding: 0.6rem 3.5rem;

}

#description-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#description-section img {
    width: 15%;
    margin: 4rem;

}

#description-section h2 {
    padding: 0rem 2.5rem 0rem 2.5rem;
    background: linear-gradient(rgba(255, 204, 53, 0.4) 80%, transparent 70%);
    transform: skew(9deg,0deg);
    font-style: italic;
    font-weight: 600;
    font-size: 2.2rem;

}

#description-section p {
    text-align: center;
    width: 55%;
}

#features-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem; 
    font-size: 1rem;   
    

}

.main-div_features {
    display: flex;
    justify-content: space-between;
    margin: 6.7rem;

}

.main-div_features h3 {
    color: #ED1C24;
}


.main-div_features div {
    width: 20%;
}

.main-div_features img {
    width: 2rem;
    
}

#features-section a {
    margin: 0 auto;
    text-decoration: none;
    padding: 1rem 7rem;
    background-color: black;
    color: white;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    font-weight: 500;
}


