@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  font-family: 'Poppins';
  
}

header{
    width: 95%;
    margin: 0 auto;
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}
nav{
    width: 600px;
}
nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
  }

.blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

.form-div {
   
    display: flex;
    flex-direction: row;
    padding: 0.4rem;
}

#npm-logo {
    width: 70px;

}

#glass-logo {
    width: 3%;
    height: 3%;

}

div form {
    display: flex;
    flex-direction: row;
    background-color: rgba(161, 158, 158, 0.2);
    width: 60%;
   
}

form input
 {
    border: none;
    background-color: inherit;
    width: 100%;
    

}

form button {
    
    padding: 0.8rem;
    background-color: red;
    color: white;
    border: none;
  
    align-items: center;
}
div a {
    text-decoration: none;
    color: black;
}

#join-link {
    border:solid black 1px;
    border-radius: 2px;
    padding:0.2rem 1rem ;
}

#main-section {
    display: flex;
    width: 95%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: rgba(232,217,217,.3);

}

#main-section h1 {
    font-size: 3.8rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
#main-section p {
    font-size: 1rem;
    width: 30%;
    text-align: center;
    margin-bottom: 3rem;
}
.buttons-div {
    display: flex;
    width: 30%;
    justify-content: space-between;
}
.plans-button {
    
    background-color: #FB3B49 ;
    color: white;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    padding: 0.6rem 3.5rem;
    

}

.join-button {
    padding: 0.6rem 3.5rem;

}

#description-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#description-section img {
    width: 15%;
    margin: 4rem;

}

#description-section h2 {
    background-color: rgba(255,204,53,.4) ;
    transform: skew(9deg,0deg);
    font-style: italic;
    font-weight: 600;

}

#description-section p {
    text-align: center;
    width: 55%;
}